{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Development console</h1>
        <h2>Administrative console</h2>
        <ul>
            <li><a href="http://localhost:2812/" target="_blank">Monit</a></li>
            <li><a href="http://localhost:1337/" target="_blank">Web Admin</a></li>
            <li><a href="http://localhost:8081/" target="_blank">PgWEB</a></li>
            <li><a href="http://localhost:5555/" target="_blank">Flower</a></li>
            <li><a href="http://localhost:15672/" target="_blank">RabbitMQ-Management</a></li>
        </ul>

        <h2>Dev Links</h2>
        <ul>
            <li><a href="/translations">Translations</a></li>
            <li><a href="/tasks/sum/4/2">Test task 4+2</a></li>
        </ul>
        {% include "dev/translations.html" %}
        {% include "dev/uploads.html" %}
        {% include "dev/gravatar.html" %}
        {% include "dev/markdown.html" %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}
