<h2>Markdown</h2>
<p>
    {{ """
**bold**\n
\n
---\n
*italics*\n
---\n
[link](http://google.com/)\n
* list \n
* of \n
* unordered\n
* items\n
---\n xss test: <script>alert('pwn');</script>\n
"""|markdown }}
</p>