 <h2>Translations</h2>
<p>Switch: {% for lang in config.TRANSLATION_LANGUAGES %}<a href="/translations?locale={{ lang }}">{{ lang }}</a> |{% endfor %}
<p>User: {{ user.id }} | locale: {{ user.locale }} | timezone: {{ user.timezone }} |
<p>Singular: <strong>{{ gettext("Hello world") }}</strong></p>
<p>Plural but 1: <strong>{{ ngettext("Hello %(num)s world", "Hello %(num)s worlds", 1) }}</strong></p>
<p>Plural and 2: <strong>{{ ngettext("Hello %(num)s world", "Hello %(num)s worlds", 2) }}</strong></p>

<blockquote>
    <p>
        {% trans user="Daniel" %}
            Hello {{ user }}! This is a blockquote translations.
        {% endtrans %}
    </p>
</blockquote>

<blockquote>
    <p>
        {% trans count=1 %}
            There is {{ count }} object.
            {% pluralize %}
            There are {{ count }} objects.
        {% endtrans %}
    </p>
</blockquote>