 <h2>Uploads</h2>
<form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="file" name="media_file">
    <input type="submit" />
</form>