{% extends 'admin/master.html' %}

{% block body %}
    <h1>Welcome to admin panel <a class="btn btn-danger" href="/logout">Log out</a></h1>
    {{ current_user.id }}
    {{ current_user.roles }}

    <h2>View as</h2>
    <form method="get" action="http://localhost:5005/admin-view-as">
        <div class="col-xs-6">
            <select class="form-control form-serialize" name="user_id">
                {% for user in users %}
                    <option value="{{ user.id }}">
                        User {{ user.id }} | {{ user.email }} | {{ user.roles }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-success">View as</button>
        </div>
    </form>
{% endblock %}