<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <h1>Log in</h1>

                {% set login_form = login_user_form %}
                <form class="action" method="post" action="/login" id="login-form">
                    {{ login_form.hidden_tag() }}
                    {{ macros.form_field(login_form, login_form.email, width=12) }}
                    {{ macros.form_field(login_form, login_form.password, width=12) }}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me-check" name="remember">
                        <label class="form-check-label" for="remember-me-check">Remember me</label>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <input id="login-form-submit" class="btn btn-primary btn-block" name="submit" type="submit"
                               value="Login">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // paranoicaly, clean the local storage data
        localStorage.clear();

        $('#login-form').on('submit', function () {
            var emailEl = $(this).find('#email');
            emailEl.val(emailEl.val().trim());
            $('#login-form-submit').prop('disabled', true);
        });
    </script>
{% endblock %}
</body>
</html>